.profile__container {
  position: absolute;
  top: 102px;
}

.profile__data {
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
  }
}
