.video__data {
  position: relative;
  left: -250px;
  top: 10px;
  padding: 10px;
  background-color: #fafafa;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 980px;
  .video__description {
    font-weight: 400;
    font-size: 18px;
  }
  hr {
    width: 100%;
  }
  .video__title {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
  .editvideo {
    font-weight: 600;
    color: white;
    border-radius: 20px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 120px;
    background-color: #e31d2e;
  }
  .deletevideo {
    font-weight: 600;
    color: white;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    width: 120px;
    background-color: #e31d2e;
  }
}
.video__add-comments {
  .video__comment-form {
    padding: 5px;
    display: flex;
    max-width: 650px;
    background-color: white;
    input {
      background-color: white;
      color: black;
    }
    ::placeholder {
      color: gray;
    }
    button {
      padding: 10px;
      border-radius: 20px;
      background-color: #e31d2e;
      color: white;
      margin-left: 5px;
      font-weight: 600;
    }
  }
}

.video__comments {
  position: absolute;
  top: 150px;
  right: 100px;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 100%;
  margin-top: 20px;
  .fas.fa-comment {
    font-size: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .video__comment {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #e9e9e9c4;
    color: black;
    margin-bottom: 10px;
    .comment-owner {
      font-weight: 600;
    }
    .video__comment-del {
      border-radius: 15px;
      padding: 8px;
      background-color: #979797b7;
      color: black;
      font-weight: 600;
      position: absolute;
      right: 15px;
      cursor: pointer;
    }
  }
}

.comments {
  padding-bottom: 10px;
}

.commentAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.icecola {
  z-index: -99;
  position: fixed;
  width: 1903px;
  left: 0;
  bottom: -200px;
  opacity: 0.5;
}

#videoContainer {
  position: relative;
  top: 10px;
  left: -250px;
  width: 1000px;
  height: 550px;
}
.uploader__info {
  display: flex;
  align-items: center;
  span {
    font-weight: 600;
  }
  .uploader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.video__hashtag {
  font-size: 8px;
  color: #2da6da;
}
