header {
  background: rgb(252, 0, 0);
  background: linear-gradient(
    228deg,
    rgba(252, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 27%,
    rgba(255, 132, 132, 1) 61%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo-image {
    width: 150px;
    height: 100px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__menu {
      background-color: white;
      border-radius: 15px;
      padding: 10px;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .header__avatar {
      width: 50px;
      height: 50px;
      margin-left: 20px;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: black;
    padding: 5px 10px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
  }
}
