header {
  background: rgb(252, 0, 0);
  background: linear-gradient(
    228deg,
    rgba(252, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 27%,
    rgba(255, 132, 132, 1) 61%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo-image {
    width: 150px;
    height: 100px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__menu {
      background-color: white;
      border-radius: 15px;
      padding: 10px;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .header__menu:hover {
      animation: vibrate-1 0.4 linear infinite;
    }
    .header__avatar {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      border-radius: 50%;
      border: 2px solid black;
    }
    i {
      font-size: 16px;
    }
  }
  .header__btn {
    background-color: white;
    color: black;
    padding: 5px 10px;
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
