.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  position: absolute;
  top: 170px;
  left: 300px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 10fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
