extends base.pug
include mixins/video

block content
    img(src="/images/icecola.png").icecola
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found.