header
    a(href="/").header__logo
        img(src="/images/colalogo.png").header__logo-image
    div.search_form
        form(method="GET" action="/search")
            input(placeholder="Search", name="keyword", type="text")
            button
                i.fas.fa-search 
    nav
        ul
            if loggedIn
                li.header__menu
                    a(href="/videos/upload") Upload Video
                li.header__menu 
                    a(href="/users/edit") Edit Profile
                li.header__menu  
                    a(href="/users/logout") 
                        i.fas.fa-sign-out-alt
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === ""
                            span.header__avatar 😋
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl)

            else
                li.header__menu 
                    a(href="/login") Login 
                li.header__menu  
                    a(href="/join").header__btn Join